Marlene.code-workspace
ProyectoListaLigada/ListaLigadaSimple/obj/*
ProyectoListaLigada/ListaLigadaSimple/bin/Debug/net8.0/ListaLigadaSimple.runtimeconfig.json

*.suo
/P2Actv2/nbproject/private/
/P2Actv2/build/
.vs/
bin/
obj/
packages/